<div class="devise-container">
  <h2 class="devise-header">Resend unlock instructions</h2>

  <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post, class: "space-y-4" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div>
      <%= f.label :email, class: "form-label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-input" %>
    </div>

    <div>
      <%= f.submit "Resend unlock instructions", class: "btn w-full" %>
    </div>
  <% end %>

  <div class="mt-4 text-center">
    <%= render "devise/shared/links" %>
  </div>
</div>
