<div class="devise-container">
  <h2 class="devise-header">Forgot your password?</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: "space-y-4" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div>
      <%= f.label :email, class: "form-label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-input" %>
    </div>

    <div>
      <%= f.submit "Send me reset password instructions", class: "btn w-full" %>
    </div>
  <% end %>

  <div class="mt-4 text-center">
    <%= render "devise/shared/links" %>
  </div>
</div>
