<div>
  <h1 class="font-bold text-4xl">Home#index</h1>
  <br><br>

  <%= link_to "Log In", new_user_session_path, class: "btn" %>

  <%= link_to "Sign Up", new_user_registration_path, class: "btn" %>

  <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete }, class: "btn" %>

<% if user_signed_in? && current_user.owner? %>
  <%= link_to "Manage your Restaurant", owner_dashboard_index_path, class: "btn" %>
<% end %>

<% if user_signed_in? %>
  <%= link_to "Your Profile", visitor_dashboard_path, class: "btn" %>
<% end %>

<br><br>
<% @restaurants.each do |restaurant| %>
  <h2><%= restaurant.name %></h2><br>
  <%= link_to "Show", restaurant_path(restaurant), class: "btn" %><br>
<% end %>

</div>