<div>
  <h1 class="font-bold text-4xl"><%= t('home.title') %></h1>
  <input type="text" id="restaurantSearch" placeholder="<%= t('home.search_placeholder') %>">
  <br><br>

  <%= link_to t('home.log_in'), new_user_session_path, class: "btn" %>

  <%= link_to t('home.sign_up'), new_user_registration_path, class: "btn" %>

  <%= link_to t('home.sign_out'), destroy_user_session_path, data: { turbo_method: :delete }, class: "btn" %>

  <% if user_signed_in? && current_user.owner? %>
    <%= link_to t('home.manage_restaurant'), owner_dashboard_index_path, class: "btn" %>
  <% end %>

  <% if user_signed_in? %>
    <%= link_to t('home.your_profile'), visitor_dashboard_path, class: "btn" %>
  <% end %>

  <br><br>
  <div id="restaurantList">
    <% @restaurants.each do |restaurant| %>
      <div class="restaurant-item">
        <h2><%= restaurant.name %></h2><br>
        <%= link_to t('home.show'), restaurant_path(restaurant), class: "btn" %><br>
      </div>
    <% end %>
  </div>
</div>

<%= link_to "English", locale: :en %> |
<%= link_to "हिंदी", locale: :hi %>
