<h1><%= @restaurant.name %> Menu</h1>

<%= form_tag restaurant_add_order_path(@restaurant), method: :post do %>
  <ul>
    <% @menu_items.each do |item| %>
      <li>
        <%= check_box_tag "menu_item_ids[]", item.id, false, id: "menu_item_#{item.id}" %>
        <%= label_tag "menu_item_#{item.id}" do %>
          <strong><%= item.name %></strong>: <%= number_to_currency(item.price) %>
          <%= item.available? ? "(Available)" : "(Out of Stock)" %>
        <% end %>
        <%= number_field_tag "quantities[#{item.id}]", 1, min: 1, max: 10, class: 'quantity-input' %>
      </li>
    <% end %>
  </ul>
  <%= submit_tag "Add Selected Items to Order" %>
<% end %>
